@import "tailwindcss";
@theme {
  --color-primary: #8855ff;
}

/* ================================
   Custom Stylish Scrollbar
================================ */

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #8855ff #e9f0ff;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #a1bdff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #2563eb, #7c3aed);
  border-radius: 9999px;
  border: 2px solid #c2d5ff;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #3b82f6, #8b5cf6);
}
.button {
  background: #8855ff;
  background: linear-gradient(
    39deg,
    rgba(136, 85, 255, 1) 39%,
    rgba(164, 49, 247, 1) 100%
  );
  transition: all 2s background;
}
.button:hover {
  background: #8855ff;
  background: linear-gradient(
    39deg,
    rgb(104, 45, 240) 39%,
    rgb(108, 51, 242) 100%
  );
}
